body {
  font-family: Helvetica;
}

/*header*/
ul {
  list-style: none;
}

.header {
  background-image: url(https://d1er272rpp2pqg.cloudfront.net/04c74cc8/images/dots-nowave/images/map-darker07.png);
  overflow: hidden;
}

.navigation {
  display: block;
  z-index: 10;
  margin-top: 37px;
}

#logo,
#bar {
  display: inline-block;
}

li {
  display: inline-block;
  margin-left: 23px;
  font-size: 13px;
  font-weight: 500;
  color: #8F8F8F;
}

#logo{
  float: left;
}

.login{
  height: 22px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 11px;
  padding-top: 0px;
  color: #fff;
  background-color: transparent;
}

#bar{
  float: right;
  display: inline-block;
  z-index: 20;
  color: #fff;
}

.infinity {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  margin-top: 80px;
  height: 90px; 
  width: 194px;
  background-image: url(https://d1er272rpp2pqg.cloudfront.net/04c74cc8/images/home/section-hero-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.slogan,
.subheader {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  z-index: 20;
  color: #fff;
}

.slogan {
  font-size: 26px;
  font-weight: 300;
  margin-top: 10px;
}

.subheader {
  margin-top: 30px;
  font-size: 18px;
  color: #8E8E8E;
  font-weight: 200;
}

#header-buttons {
  margin-top: 33px;
  margin-bottom: 100px;
}

#learn-more,
.demo {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: auto;
  min-width: 150px;
  padding-top: 6px;
  border-radius: 20px;
  text-align: center;
}

#learn-more {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  margin-right: 5px;
}

.demo {
  color: #fff;
  background-color: #009CFF;
  border-color: #009CFF;
  margin-left: 5px;
}
/*white box*/
#deliveries {
  margin-right: auto;
  margin-left: auto; 
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  color: #4b595e;
}

.white-padding {
  padding: 90px 20px 90px 20px;
}

#center-spacing {
  display: flex;
  margin-left:auto;
  margin-right: auto; 
  align-items: center;
  justify-content: space-around;
}

.cell{
  display: block;
  min-width: 230px;
  margin-top: 50px;
}

.title {
  margin-top: 40px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 400;
  color: #4b595e;
  text-align: center;
}

.description {
  text-align: center;
  color: #A4ABB0;
}

#learn-more-two {
  margin-top: 30px;
  color: #009cff;
  border-color: #009cff;
  border-radius: 20px;
}

.colorful{
  background-image: radial-gradient(circle at 100% 100%, rgb(51, 177, 248) 0px, rgb(170, 129, 243) 100%);;
  background-color: radial-gradient(circle at bottom right,#33b1f8 0,#aa81f3 100%);
  height: 437px;
  padding: 90px 20px; 
}

.hundreds {
  text-align: center;
  color: #fff;
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 26px;
}

#boxbee {
  background-image: url(images/boxbee.svg);
  height: 29px;
  background-repeat: no-repeat;
  width: 126px;
}

#meadow {
  background-image: url(images/meadow.svg);
  height: 29px;
  background-repeat: no-repeat;
  width: 150px;
  height: 34px;
}

#hellofresh {
  background-image: url(https://d1er272rpp2pqg.cloudfront.net/814d1185/images/home/logo-hellofresh.svg);
  height: 29px;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
}

#urban {
  background-image: url(https://d1er272rpp2pqg.cloudfront.net/814d1185/images/home/logo-urbanstems.svg);
  background-repeat: no-repeat;
  width: 170px;
  height: 104px;
}

#relay {
  background-image: url(https://d1er272rpp2pqg.cloudfront.net/814d1185/images/home/section-customers-logo-relayfoods.svg);
  background-repeat: no-repeat;
  width: 121px;
  height: 39px;
}

.logos {
  display: flex;
  margin: 50px auto;
  align-items: center;
  justify-content: space-around;
  max-width: 900px;
}

#blurb {
  color: rgba(255,255,255,.65);
  text-align: center;
}

#jumpstart {
  height: 349px;
  padding: 90px 20px 20px 20px;
  margin-bottom: 30px;
}

#delivery-img {
  height: 130px;
  padding-bottom: 30px;
}

.ready {
  color: #4b595e;
  margin-bottom: 10px;
  font-size: 26px;
  text-align: center;
}

#free-demo {
  width: 200px;
  margin: 30px auto 10px auto;
}

.gray {
  background-color: #F7F9FA;
  height: 340;
  padding: 90px 20px;
}

.legal {
  width: 212px;
  height: 160px
}

.product-list,
.about-column,
.support-column,
.connect-column {
  height: 160px;
  width: 104px;
}

#small-logo {
  background-image: url(https://d1er272rpp2pqg.cloudfront.net/814d1185/images/staticPage/navigation-logo-oneColor-overLight.svg);
  display: block;
  width: 131px;
  height: 19px;
  margin-top: 2px;
  margin-bottom: 16px;
}

#copyright {
  font-size: 13px;
  color: #A4ABB0;
}

.title {
  font-size: 15px;
  color: #4B595E;
  margin-bottom: 8px;
  font-weight: 500;
  margin-top: 0px;
}

div > ul > li {
  font-size: 15px;
  color: #A4ABB0;
  font-weight: 300;
  margin: 0px 0px;
  padding-left: 23px;
}

.container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  padding: 0px 0px;
}

footer > div > div > ul {
  padding-left: 5px;
}

.footer-demo {
  margin-top: 13px;
  color: #F7F9FA;
  background-color: #009CFF;
  height: 24px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 13px;
  line-height: 4px;
  border-radius: 12px;
}
